    <footer class="bg-dark text-center text-white">
    <div class="container p-2 pb-0">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/vedant-sasane-147155193/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © Copyright:
    </div>
  </footer>
    